// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#inner{
    border:solid pink;
    text-align:left;
    padding:30px;
}

#outer{
    width:700px;
    margin:0 auto;
    text-align:center;;
}

body {
  text-align: left;
  font-size: 20px;
  font-weight: bolder;
  background-image: image-url('bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 800px;
}